In [10]:
import pandas as pd
import sqlalchemy

In [18]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:MOHIT15205@localhost:3306/pandas_prac')

In [20]:
df = pd.read_sql_table('customers', engine)
df

   idcustomers    name phone_number
0            1     Jay   8754221222
1            2  Brijen   8754001222
2            3   Harsh   8759632412

In [23]:
query = '''
SELECT customers.idcustomers, customers.name, customers.phone_number, orders.product_name, orders.amount 
FROM customers INNER JOIN orders
ON customers.idcustomers = orders.id
'''

df = pd.read_sql_query(query, engine, index_col='idcustomers')
df

               name phone_number      product_name   amount
idcustomers
1               Jay   8754221222         Iphone 13  65001.0
2            Brijen   8754001222  Sony Playstation  40000.0
3             Harsh   8759632412            Laptop  78501.0

In [31]:
df  = df.rename(columns={
    'name' : 'Customer Name',
    'phone_number' : 'Phone Number',
    'product_name' : 'Product Name',
    'amount' : 'Amount'
}) 
df

            Customer Name Phone Number      Product Name   Amount
idcustomers
1                     Jay   8754221222         Iphone 13  65001.0
2                  Brijen   8754001222  Sony Playstation  40000.0
3                   Harsh   8759632412            Laptop  78501.0

In [33]:
df2 = pd.DataFrame({
    'idcustomers':[4,5,6],
    'name':['Rohit','Shyam','Arpit'],
    'phone_number':['9875236452','7856984213','8576948521']
})
print(df2)

df2.to_sql(
    name = 'customers',
    con = engine,
    index = False,
    if_exists = 'append'
)

   idcustomers   name phone_number
0            4  Rohit   9875236452
1            5  Shyam   7856984213
2            6  Arpit   8576948521

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '4' for key 'customers.PRIMARY'")
[SQL: INSERT INTO customers (idcustomers, name, phone_number) VALUES (%(idcustomers)s, %(name)s, %(phone_number)s)]
[parameters: ({'idcustomers': 4, 'name': 'Rohit', 'phone_number': '9875236452'}, {'idcustomers': 5, 'name': 'Shyam', 'phone_number': '7856984213'}, {'idcustomers': 6, 'name': 'Arpit', 'phone_number': '8576948521'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [38]:
df = pd.read_sql('customers', engine)
print(df)
# or
df = pd.read_sql('SELECT * FROM customers', engine)
print(df)

   idcustomers    name phone_number
0            1     Jay   8754221222
1            2  Brijen   8754001222
2            3   Harsh   8759632412
3            4   Rohit   9875236452
4            5   Shyam   7856984213
5            6   Arpit   8576948521
   idcustomers    name phone_number
0            1     Jay   8754221222
1            2  Brijen   8754001222
2            3   Harsh   8759632412
3            4   Rohit   9875236452
4            5   Shyam   7856984213
5            6   Arpit   8576948521