In [37]:
# Pandas Time Series Part-3 (Holidays)

import pandas as pd

In [38]:
df = pd.read_csv('F:/Jay/Python/Code Basics Youtube/Pandas/17_aapl_no_dates.csv')
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [39]:
pd.date_range(start='7/1/2017',end='7/21/2017', freq='B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [40]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [41]:
rng = pd.date_range(start='8/1/2017',end='8/20/2017', freq=usb)
rng

DatetimeIndex(['2017-08-01', '2017-08-02', '2017-08-03', '2017-08-04',
               '2017-08-07', '2017-08-08', '2017-08-09', '2017-08-10',
               '2017-08-11', '2017-08-14', '2017-08-15', '2017-08-16',
               '2017-08-17', '2017-08-18'],
              dtype='datetime64[ns]', freq='C')

In [42]:
df.set_index(rng, inplace=True)
df

              Open    High     Low   Close    Volume
2017-08-01  144.88  145.30  143.10  143.50  14277848
2017-08-02  143.69  144.79  142.72  144.09  21569557
2017-08-03  143.02  143.50  142.41  142.73  24128782
2017-08-04  142.90  144.75  142.90  144.18  19201712
2017-08-07  144.11  145.95  143.37  145.06  21090636
2017-08-08  144.73  145.85  144.38  145.53  19781836
2017-08-09  145.87  146.18  144.82  145.74  24884478
2017-08-10  145.50  148.49  145.44  147.77  25199373
2017-08-11  147.97  149.33  147.33  149.04  20132061
2017-08-14  148.82  150.90  148.57  149.56  23793456
2017-08-15  149.20  150.13  148.67  150.08  17868792
2017-08-16  150.48  151.42  149.95  151.02  20922969
2017-08-17  151.50  151.74  150.19  150.34  17243748
2017-08-18  149.99  150.44  148.88  150.27  26252630

In [54]:
# Custom Calendar

from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

class myBirthDayCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday("Jay's Birthday", month=8, day=4)
    ]
    
myc = CustomBusinessDay(calendar=myBirthDayCalendar(), weekmask='Sun Mon Tue Wed Thu', holidays=["2017-07-07"]) # Weekmask to change business days. for eg. in Egypt Sun to Thu are working days. holidays to give holidays o specific dates. 
myc

In [52]:
rng = pd.date_range(start='8/1/2017',end='8/20/2017', freq=myc)
rng

DatetimeIndex(['2017-08-01', '2017-08-02', '2017-08-03', '2017-08-06',
               '2017-08-07', '2017-08-08', '2017-08-09', '2017-08-10',
               '2017-08-13', '2017-08-14', '2017-08-15', '2017-08-16',
               '2017-08-17', '2017-08-20'],
              dtype='datetime64[ns]', freq='C')