In [128]:
import pandas as pd

In [129]:
df = pd.read_csv('F:/Jay/Python/Code Basics Youtube/Pandas/weather_data.csv')
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [130]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature' : [32,35,28,24,32,31],
    'windspeed' : [6,7,2,7,4,2],
    'event' : ['Rain','Sunny','Snow','Snow','Rain','Sunny']
}

df2 = pd.DataFrame(weather_data)
rows, columns = df2.shape
print(rows,columns)

6 4

In [131]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [132]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [133]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [134]:
# Indexing and Slicing in DataFrame

print(df[2:5])
print(df[:])

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [135]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [136]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [137]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [138]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [139]:
type(df['temperature'])

pandas.core.series.Series

In [140]:
# Print only selected columns

df[['event','day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [141]:
# Operations in DataFrame

df['temperature'].max()

35

In [142]:
df['temperature'].mean()

30.333333333333332

In [143]:
df['temperature'].std()

3.8297084310253524

In [144]:
df.describe() #Print statistics of the dataset

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [145]:
#Conditional select data in DataFrame

df[df.temperature>33]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [146]:
df[df.event=='Rain']

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain
4  1/5/2017           32          4  Rain

In [147]:
df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [148]:
df[['day','temperature']][df.temperature==df.temperature.max()]

        day  temperature
1  1/2/2017           35

In [149]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [150]:
#Setting Index

df.set_index('day', inplace=True)
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [156]:
#df.loc("1/1/2017")

In [160]:
df.reset_index(inplace=True)
df.set_index('event',inplace=True)
df

       level_0  index       day  temperature  windspeed
event
Rain         0      0  1/1/2017           32          6
Sunny        1      1  1/2/2017           35          7
Snow         2      2  1/3/2017           28          2
Snow         3      3  1/4/2017           24          7
Rain         4      4  1/5/2017           32          4
Sunny        5      5  1/6/2017           31          2

In [162]:
#df.loc('Snow')