In [2]:
import pandas as pd

In [5]:
# read_csv()

df = pd.read_csv('F:/Jay/Python/Code Basics Youtube/Pandas/weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
# read_excel

df = pd.read_excel('F:/Jay/Python/Code Basics Youtube/Pandas/weather_data.xlsx')
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [14]:
# using dictionary

data = {
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017',],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6,7,2,7,4,2]
}
df = pd.DataFrame(data)
df

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           35          7
2  1/3/2017           28          2
3  1/4/2017           24          7
4  1/5/2017           32          4
5  1/6/2017           31          2

In [16]:
# using list of tuples


data = [
    ('1/1/2017','32',6),
    ('1/2/2017','35',2),
    ('1/3/2017','38',6)
]

df = pd.DataFrame(data, columns=['Day','Temperature','Wind Speed'])

df

        Day Temperature  Wind Speed
0  1/1/2017          32           6
1  1/2/2017          35           2
2  1/3/2017          38           6

In [18]:
# using list of dictionary

data = [
    {'day':'1/1/2017', 'temperature':32,'windspeed':6},
    {'day':'1/2/2017', 'temperature':22,'windspeed':2},
    {'day':'1/3/2017', 'temperature':35,'windspeed':5}
]

df = pd.DataFrame(data)
df

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           22          2
2  1/3/2017           35          5

In [22]:
# using read_html()

df = pd.read_html('F:/Jay/Python/Code Basics Youtube/Pandas/data_table.html')
df

[                        Company           Contact  Country
 0           Alfreds Futterkiste      Maria Anders  Germany
 1    Centro comercial Moctezuma   Francisco Chang   Mexico
 2                  Ernst Handel     Roland Mendel  Austria
 3                Island Trading     Helen Bennett       UK
 4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
 5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy]

In [25]:
df = pd.read_html('https://www.w3schools.com/html/html_tables.asp')
df

[                        Company           Contact  Country
 0           Alfreds Futterkiste      Maria Anders  Germany
 1    Centro comercial Moctezuma   Francisco Chang   Mexico
 2                  Ernst Handel     Roland Mendel  Austria
 3                Island Trading     Helen Bennett       UK
 4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
 5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy,
           Tag                                        Description
 0     <table>                                    Defines a table
 1        <th>                   Defines a header cell in a table
 2        <tr>                           Defines a row in a table
 3        <td>                          Defines a cell in a table
 4   <caption>                            Defines a table caption
 5  <colgroup>  Specifies a group of one or more columns in a ...
 6       <col>  Specifies column properties for each column wi...
 7     <thead>               Groups the header content in a table
 8     <tbody>                 Groups the body content in a table
 9     <tfoot>               Groups the footer content in a table]